<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Глобальное потепление</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Глобальное потепление:</h1>
      <p>Что такое глобальное потепление и как его избежать?</p>
    </div>
  </header>
  <main>
    <h1 class="main__h">Что такое <span class="colortext">глобальное потепление</span>?</h1>
    <p class="main__p"><span class="colortext">Глоба́льное потепле́ние</span> — долгосрочное повышение средней температуры климатической системы Земли, происходящее уже <span class="colortext">более века</span>, основной причиной чего, по мнению подавляющего большинства учёных, является <span class="colortext">человеческая деятельность</span> (антропогенный фактор).
      Начиная с 1850 года, в десятилетнем масштабе температура воздуха в каждое десятилетие была <span class="colortext">выше</span>, чем в любое предшествующее десятилетие. С 1750—1800 годов <span class="colortext">человек</span> ответственен за повышение средней глобальной температуры на <span class="colortext">0.8 — 1.2 °C</span>. Вероятная величина дальнейшего роста температуры на протяжении XXI века на основе климатических моделей составляет <span class="colortext">0.3 — 1.7 °C</span> для минимального сценария эмиссии парниковых газов, <span class="colortext">2.6 — 4.8 °C</span> — для сценария максимальной эмиссии.
      Последствия глобального потепления включают <span class="colortext">повышение уровня моря, региональные изменения осадков, более частые экстремальные погодные явления, такие как жара и расширение пустынь</span>. Как указывается на сайте ООН, существуют тревожные свидетельства того, что превышение пороговых показателей, ведущее к необратимым изменениям в экосистемах и климатической системе нашей планеты, <span class="colortext">уже произошло</span>.
    </p>
    <h1 class="main__h"><span class="colortext">Причины</span> глобального потепления</h1>
    <p class="main__p"><span class="colortext">Парниковые газы</span> были и до промышленности. Это извержения вулканов, лесные пожары и даже дыхание живых организмов, то есть это нормальный процесс. С другой стороны - сейчас <span class="colortext">воздействие промышленности настолько велико</span>, что процесс пошел <span class="colortext">быстрее в десятки раз</span>.</p>
    <h2 class="main__h">Причины роста выбросов:</h2>
    <ul class="centered-list">
      <li>1. Сжигание угля, нефти и газа</li>
      <li>2. Вырубка лесов</li>
      <li>3. Увеличение животноводства</li>
      <li>4. Выбросы закиси азота удобрениями</li>
      <li>5. Выделение фторированных газов оборудованием и продуктами</li>
    </ul>
    <p class="main__p">Согласно Carbon Majors, <span class="colortext">100 компаний</span> были ответственны за <span class="colortext">71% выхлопов</span> с 1988 года по 2015 год, сообщает The Guardian. И это еще раз подтверждает, что все-таки <span class="colortext">большую часть работы</span> по экологизации должны проводить <span class="colortext">власти и бизнес</span>.</p>
    <img class="centered-img" src="../static/img/vibrosi.png" alt="Emissions">
    <h1 class="main__h"><span class="colortext">Последствия</span> глобального потепления</h1>
    <p class="main__p">
        С 1980-х годов каждое десятилетие <span class="colortext">было теплее предыдущего</span>. Вообще ученые говорят, что повышение температуры планеты <span class="colortext">до 2 градусов</span> приведет к <span class="colortext">катастрофе</span>: будут проблемы с <span class="colortext">сельским хозяйством, умрет ряд животных</span>, в общем, затронет потепление <span class="colortext">всей экосистемы</span>. В разных частях планеты <span class="colortext">обострятся погодные аномалии</span>, которые также отразятся на жизни людей. Ученые ожидают, что в некоторых частях света <span class="colortext">будет меньше дождей</span>, а в другой их станет больше, в третьей части осадков будет столько же, но будут они <span class="colortext">более сильными и кратковременными</span>. Такие аномалии будут вызывать <span class="colortext">засуху и наводнения</span>.
        Сейчас же от проблем <span class="colortext">страдают бедные страны</span>. По данным ООН, в последние десять лет (2010-2019 годы) из-за погодных явлений и их последствий <span class="colortext">вынужденный переезд совершают в среднем около 23,1 млн человек в год</span>. Также <span class="colortext">повысился риск оказаться в нищете</span> для еще большего числа людей. Беженцы прибывают из стран, наименее готовых адаптироваться к последствиям изменения климата. И вот с чем, по мнению ООН, рано или поздно из-за глобального потепления столкнутся все:
    </p>
    <ul class="centered-list">
      <li>1. Угроза сельскому хозяйству в тропиках и субтропиках (где растут цитрусовые и имбирь);</li>
      <li>2. Продолжится сокращение воды, а качество имеющейся будет ухудшаться в регионах, где население зависит от дождевой воды;</li>
      <li>3. Увеличится смертность от малярии, лихорадки денге и других болезней в тропических и субтропических регионах;</li>
      <li>4. Таяние ледников и, соответственно, подъем уровня моря, что приведет к затоплению прибрежных районов;</li>
      <li>5. Леса окажутся под угрозой.</li>
    </ul>
    <h2 class="main__h">Объем выхлопов по странам (% от общих парниковых газов)</h2>
    <img class="centered-img" src="../static/img/Change_in_Average_Temperature.png" alt="Change_in_Average_Temperature">
    <h1 class="main__h">Как это коснется <span class="colortext">конкретно меня</span>?</h1>
    <p class="main__p">По опросам Колумбийской климатической школы при Колумбийском университете, только <span class="colortext">24% респондентов</span> считают, что изменение климата окажет большое влияние на их жизнь. А зря, потепление <span class="colortext">повлияет почти на каждого</span>. Как? Читайте ниже.</p>
    <ul class="centered-list-no-color-changed">
      <li>1. Дом может пострадать от <span class="colortext">потопа или лесного пожара</span>. По последним данным Рослесхоза, в России не осталось регионов, где нет риска <span class="colortext">возникновения лесного пожара</span>. Страхование жилья подорожает.</li>
      <li>2. Работа на свежем воздухе станет <span class="colortext">невыносимой</span>. От этого пострадают <span class="colortext">строители, моряки, пожарные и сельскохозяйственные рабочие</span>.</li>
      <li>3. Из-за повышения температуры людям придется больше <span class="colortext">использовать кондиционеры и вентиляторы</span>, счета за электроэнергию <span class="colortext">будут расти</span>.</li>
      <li>4. Сезон цветения будет дольше, что может привести к <span class="colortext">увеличению числа приступов аллергии и астмы</span>. С повышением температуры все больше людей будут страдать от <span class="colortext">тепловых судорог, теплового истощения, гипертермии (высокой температуры тела) и теплового удара</span>. Директор Центра исследований климатических систем института Земли Майкл Пума отметил, что три <span class="colortext">четверти наших культур</span> полагаются на <span class="colortext">насекомых для опыления</span>, при этом <span class="colortext">41% видов насекомых</span> находится <span class="colortext">под угрозой исчезновения</span>.</li>
      <li>5. Интенсивные штормы и сильные осадки могут <span class="colortext">привести к загрязнению водных ресурсов</span>, в том числе <span class="colortext">источников питьевой воды</span>.</li>
      <li>6. По мере повышения температуры некоторые самолеты могут <span class="colortext">не выдержать жару</span>. В 2015 году ученые рассчитали, что <span class="colortext">экстремальная жара</span> может ограничить <span class="colortext">взлетный вес самолетов</span>. Авиакомпании могут быть вынуждены <span class="colortext">высаживать пассажиров или оставлять багаж</span>. В том числе из-за этого междугородние рейсы на Ближнем Востоке отправляются ночью.</li>
    </ul>
    <h1 class="main__h"><span class="colortext">Борьба</span> с глобальным потеплением: <br> Что делают в мире</h1>
    <p class="main__p">
      О <span class="colortext">глобальном потеплении</span> достаточно активно говорят с <span class="colortext">1975 года</span>, когда экологи начали отмечать <span class="colortext">изменения средней температуры</span>.
        
      Первый документ, регулирующий работу стран по климату, был принят в <span class="colortext">1992 году</span> - это Рамочная конвенция <span class="colortext">ООН об изменении климата</span>, в 1997 году в дополнение был принят <span class="colortext">Киотский протокол</span>, призывающий сократить или <span class="colortext">стабилизировать парниковые выбросы</span>. В 2015 году около 200 стран <span class="colortext">подписали Парижское соглашение по климату</span>.
        
      Главные <span class="colortext">цели</span> документа:</p>
    <ul class="centered-list">
      <li>1. Не допустить увеличения средней температуры на планете более, чем на 2°С от доиндустриального уровня к 2100 году;</li>
      <li>2. Сделать все возможное для удержания глобального потепления в пределах 1,5°С.</li>
    </ul>
    <h2 class="main__h">План по достижению <span class="colortext">нулевых выбросов углекислого газа</span> в энергетике к 2050 году:</h2>
    <img class="centered-img" src="../static/img/22_a0c.jpg" alt="plan_vibrosov">
    <h3 class="main__h">С 2021 года планируется :</h3>

    <p class="main__p">Прекратить развитие новых источников добычи угля, газа, нефти;
      Увеличить ежегодный ввод новых возобновляемых источников энергии.</p>
          
    <h3 class="main__h">С 2030 года:</h3>

    <p class="main__p">Строить новые здания и сооружения без углеродного выхлопа;
      Увеличить доступность электроэнергии и сократить использование угольных станций;
      Продавать до 60% электромобилей.</p>
          
    <h3 class="main__h">С 2035 года:</h3>

    <p class="main__p">Довести долю продаваемых электрических грузовиков до 50%;
      Обеспечить максимальный класс энергоэффективности всех промышленных электрических двигателей и систем охлаждения.</p>
          
    <h3 class="main__h">C 2040 года:</h3>

    <p class="main__p">Достичь нулевых выбросов от производства электроэнергии;
      Потреблять только 50% нефти от уровня 2020 года;
      Довести до 50% долю топлива в авиации с низким уровнем выбросов.</p>
          
    <h3 class="main__h">К 2050 году:</h3>

    <p class="main__p">Вырабатывать более 90% мировой электроэнергии на возобновляемых источниках энергии, из них более 70% - на основе ветра и солнца;
      Не выбрасывать парниковых газов вообще должно более 90% тяжелой промышленности;
      Подготовить более 85% зданий и сооружений к углеродной нейтральности;
      Поместить существенную долю CO2 в хранилища или утилизировать.</p>
    <h1 class="main__h">Что могут сделать обычные люди</h1>
          
    <h2 class="main__h"> Эксперты ООН по окружающей среде предлагают:</h2>
    <ul class="centered-list1">
      <li>• меньше летать;</li>
      <li>• сокращать отходы;</li>
      <li>• изолировать свое жилище;</li>
      <li>• передвигаться пешком или на велосипеде;</li>
      <li>• есть сезонные продукты;</li>
      <li>• отключать электроприборы;</li>
      <li>• носить одежду до последнего;</li>
      <li>• говорить об экологизации с друзьями и на работе;</li>
      <li>• выбирать электротранспорт;</li>
      <li>• переходить на возобновляемые источники энергии;</li>
      <li>• использовать безналичную оплату;</li>
      <li>• есть больше растительной пищи;</li>
      <li>• ремонтировать вещи и давать им "вторую жизнь".</li>
    </ul>
    <p class="main__p">С одной стороны,  <span clas="colortext">бизнес и власти</span> лучше всего могут повлиять на изменение климата как в одну, так и в другую сторону. С другой стороны, <span clas="colortext">выбор</span>, который каждый человек делает сегодня, <span clas="colortext">очень важен для будущего</span>. Ресурсы становятся как никогда <span clas="colortext">ценными</span>. Пора перестать этим <span clas="colortext">пренебрегать</span>.</p>
  </main>
  <footer>

  </footer>
</body>
</html>
